html,body {
    margin: 0;
    height: 100%;
   
}

/* Body ko flex container banaya */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
}

/* main content full space lega */

.main-content {
    flex: 1;
    padding: 20px;
}


/* common container */
.container {
    padding: 20px;
}

/* Navigation bar */
nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    gap: 20px;
}

/* Nav links */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Active page highlight */
nav a.active{
    text-decoration: underline;
}

/* CONTECT FORM  */
.contact-form {
    max-width: 400px;
    border: 2px dolid #ccc;
    background-color: #ffffff;
    padding: 20px;
}

.form-group {
    margin-bottom: 17px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

textarea {
    min-height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #26374b;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

footer {
    padding:0%;
    margin:5px;
}

/* JS Highlight Effect */

.highlight {
    color: red;
    background-color: #ffffcc;
    padding: 10px;
    border-radius: 5px;
}